In [9]:
countries=["spain","germany","france","norway"]
capitals=["madrid","berlin","paris","oslo"]
print(capitals[countries.index("germany")])

berlin

In [10]:
#tambien este problema se puede trabajar con los diccionarios
europe={"spain":"madrid","germany":"berlin","france":"paris","normay":"oslo"}
print(europe["germany"])

berlin

In [11]:
print(europe.keys())

dict_keys(['spain', 'germany', 'france', 'normay'])

la listas y los diccionarios se puede seleccionar, update and remove
en las listas se indexa por un rango de numeros, en los diccionarios se indexa por keys uniq

In [12]:
europe['italy']='rome'
'italy' in europe

True

In [13]:
print(europe)

{'spain': 'madrid', 'germany': 'berlin', 'france': 'paris', 'normay': 'oslo', 'italy': 'rome'}

dado que las llaves son unicas al definirla se hara un update

In [14]:
europe['spain']='ma'
print(europe)

{'spain': 'ma', 'germany': 'berlin', 'france': 'paris', 'normay': 'oslo', 'italy': 'rome'}

In [15]:
del(europe['spain'])
print(europe)

{'germany': 'berlin', 'france': 'paris', 'normay': 'oslo', 'italy': 'rome'}

Diccionario de diccionarios

In [16]:
europe={
    "spain":{"population":10,"capital":"madrid"},
    "germany":{"population":10,"capital":"berlin"},
    "france":{"population":10,"capital":"paris"},
    "normay":{"population":10,"capital":"oslo"}}
print(europe)

{'spain': {'population': 10, 'capital': 'madrid'}, 'germany': {'population': 10, 'capital': 'berlin'}, 'france': {'population': 10, 'capital': 'paris'}, 'normay': {'population': 10, 'capital': 'oslo'}}

In [17]:
countries=["spain","germany","france","norway"]
capitals=["madrid","berlin","paris","oslo"]
population=[90,42,64,68]
europe={'countries':countries, 'capitals':capitals, 'population':population}
print(europe)

{'countries': ['spain', 'germany', 'france', 'norway'], 'capitals': ['madrid', 'berlin', 'paris', 'oslo'], 'population': [90, 42, 64, 68]}

In [18]:
import pandas as pd

In [19]:
df_europe = pd.DataFrame(europe)
print(df_europe)

  capitals countries  population
0   madrid     spain          90
1   berlin   germany          42
2    paris    france          64
3     oslo    norway          68

In [20]:
print(df_europe.index)

RangeIndex(start=0, stop=4, step=1)

In [21]:
row_labels=["SP","GE","FR","NO"]
df_europe.index=row_labels
print(df_europe.index)

Index(['SP', 'GE', 'FR', 'NO'], dtype='object')

In [22]:
print(df_europe)

   capitals countries  population
SP   madrid     spain          90
GE   berlin   germany          42
FR    paris    france          64
NO     oslo    norway          68

In [23]:
di = pd.read_csv('data_fanpage.csv')
print(di)

      id  social_network_account_id  social_network_account_followers  \
0     16                      38614                           1965664
1     19                      28990                            176909
2     20                      29189                           2032491
3      1                      35837                           1468492
4      5                      30603                            451471
5     37                      28613                            111700
6      7                      35875                           1466535
7     36                      30275                            229998
8     24                      25783                             25658
9     15                      29387                            900687
10    21                      29406                              2177
11    22                      26843                             16749
12     8                      28631                            215056
13    18                      31083                           1466515
14    27                      34125                             12071
15    25                      23558                             24017
16    30                      30664                                87
17    31                      38790                             31023
18    33                      36332                            191970
19    26                      23270                             11622
20     9                      23526                             17550
21    14                      29546                             14665
22    23                      29333                             58385
23    38                      29492                            135018
24    39                      36330                             14728
25    40                      28248                             30675
26    41                      28464                            107963
27    42                      28208                             18245
28    43                      29221                             59057
29    44                      34460                              9571
..   ...                        ...                               ...
694  729                      47126                            226747
695  717                      35860                              8151
696  716                      35860                              8151
697  724                      40354                           3968290
698  746                      30885                             32169
699  733                      31053                            464740
700  745                      47126                            226747
701  751                      25757                            314620
702  725                      33252                           2091353
703  739                      22650                              7119
704  727                      30769                            486520
705  741                      27664                             19245
706  737                      48516                           2338858
707  742                      24701                            195478
708  749                      43513                               800
709  738                      52729                           2091602
710  744                      31990                            914714
711  740                      35875                           1466535
712  734                      36332                            191970
713  750                      24613                            352596
714  747                      30885                             32169
715  736                      35837                           1468492
716  735                      29257                            595742
717  708                      35875                           1466535
718  668                      30885                             32169
719  730                      31049                            379699
720  748                      31044                            717960
721  731                      38751                             54214
722  743                      30275                            229998
723  732                      38614                           1965664

                               code_iso  comments   like   love  haha  wow  \
0    #<TwitterCountry:0x000000060fb490>       112   2091    214     3   15
1    #<TwitterCountry:0x00000006627a68>        27    235     49    30    4
2    #<TwitterCountry:0x0000000692c830>        45   2105    169    23    8
3    #<TwitterCountry:0x00000006c1bca8>         7    240     25     1    0
4    #<TwitterCountry:0x00000008f4c678>       122   5215    216    11   42
5    #<TwitterCountry:0x0000000915f960>        18    956     69     2    0
6    #<TwitterCountry:0x000000092e87f0>        38    545     68   109    4
7    #<TwitterCountry:0x0000000957cde0>         6    128     15     1    0
8    #<TwitterCountry:0x000000097d0308>         0      2      0     0    0
9    #<TwitterCountry:0x00000009a22160>        45   1158     62    53    5
10   #<TwitterCountry:0x00000009c21e20>         1      5      1     0    0
11   #<TwitterCountry:0x00000009d68338>         0      3      0     0    0
12   #<TwitterCountry:0x00000009e75a78>         8    444     52    24    1
13   #<TwitterCountry:0x00000009f575b8>        72   3131    308    12   25
14   #<TwitterCountry:0x0000000a024f68>         1     14      0     0    0
15   #<TwitterCountry:0x0000000a0e8418>         0      9      2     0    0
16   #<TwitterCountry:0x0000000ddd5b50>         0      1      0     0    0
17   #<TwitterCountry:0x0000000dd73388>        33    217     31     3    9
18   #<TwitterCountry:0x0000000de988d0>         0      6      0     0    0
19   #<TwitterCountry:0x0000000ded4c90>         0     20      0     0    0
20   #<TwitterCountry:0x0000000df0e0d0>         4      9      4     0    0
21   #<TwitterCountry:0x0000000df4f288>         2     66      9     0    0
22   #<TwitterCountry:0x0000000d1d8870>         0     15      1     0    0
23   #<TwitterCountry:0x0000000d175ce8>        25    224     14     3   10
24   #<TwitterCountry:0x0000000c73f350>         1     29      0     0    0
25   #<TwitterCountry:0x0000000e044828>         3    102      4     0    0
26   #<TwitterCountry:0x0000000e0867f0>        69    845    279    47    2
27   #<TwitterCountry:0x0000000ccc4a28>         6    126     28     0    0
28   #<TwitterCountry:0x0000000d132ab0>         9    257     33    12    1
29   #<TwitterCountry:0x0000000e134d28>         0      4      0     0    0
..                                  ...       ...    ...    ...   ...  ...
694  #<TwitterCountry:0x00000010e440c0>        17    713    246     2    1
695  #<TwitterCountry:0x00000010cca208>         0    126      7     0    0
696  #<TwitterCountry:0x00000010b50490>         0    124     10     0    0
697  #<TwitterCountry:0x0000001099fda8>        17    394     56     6    3
698  #<TwitterCountry:0x000000107f7758>         1    125     37     0    1
699  #<TwitterCountry:0x00000010665b38>         2     14      4     2    0
700  #<TwitterCountry:0x000000104b8d58>        18    647    164     2   12
701  #<TwitterCountry:0x00000010328ab0>         8     93      5    12    0
702  #<TwitterCountry:0x0000001017c9a0>        10    164      6    21    0
703  #<TwitterCountry:0x0000000ffa9628>         0      0      0     0    0
704  #<TwitterCountry:0x0000000fdeac60>        29    381     48     2    9
705  #<TwitterCountry:0x0000000fc62ca8>         8     99     17     0    0
706  #<TwitterCountry:0x0000000fa65b08>         8    670     74    10    5
707  #<TwitterCountry:0x0000000f88b4e0>         5    237     16    38    0
708  #<TwitterCountry:0x0000000f64caa8>         0      0      0     0    0
709  #<TwitterCountry:0x0000000f434ab8>         3     40      9     0    0
710  #<TwitterCountry:0x0000000f1f9f50>       170   3800   1239    33   74
711  #<TwitterCountry:0x0000000efe7708>        34   1449    107  1339    8
712  #<TwitterCountry:0x0000000edc7478>         2    110     13     1    0
713  #<TwitterCountry:0x0000000ec00ec8>         8     17      8     0    0
714  #<TwitterCountry:0x0000000ea7e320>         7     64     21     0    0
715  #<TwitterCountry:0x0000000e8e0978>         3     32      6     0    0
716  #<TwitterCountry:0x0000000e758dd0>      1880  18773  23307   162  119
717  #<TwitterCountry:0x0000000e5df6c0>        98   1467    563   229    1
718  #<TwitterCountry:0x0000000e445878>         5     62     16     0    0
719  #<TwitterCountry:0x0000000e2ce710>        37    870    209    70    1
720  #<TwitterCountry:0x0000000e1279e8>       286   2879    352    31    7
721  #<TwitterCountry:0x0000000df85568>         9    959     16     0    0
722  #<TwitterCountry:0x0000000dde3480>        12    195     45     1    4
723  #<TwitterCountry:0x0000000d1ab578>        40    714     70     1    2

     angry  sad  shares  post_impressions  post_impressions_unique  \
0        1    2      44            142030                   102116
1        0    0       1             15339                    11671
2        4    1      19            244228                   162386
3        0    0     136            110803                    64660
4        1    0      71                 0                        0
5        0    0       6             36827                    24675
6        1    0      51            298404                   195727
7        0    0       3             30341                    24667
8        0    0       2             69562                    50511
9        1    0      15             83940                    63734
10       0    0       1              3663                     2847
11       0    0       0              1363                      884
12       0    0       9            113035                    87718
13       2    1      47            344038                   213129
14       0    0       3              9095                     2373
15       0    0       3             62808                    40247
16       0    0       0                20                       13
17       0    0     167             79137                    44262
18       0    0       0              1606                     1043
19       0    0       4             52472                    37451
20       0    0       1             36499                     9256
21       0    1       2             11902                     5109
22       0    0       7             78902                    58011
23       0    0      33             45603                    28274
24       0    0       6             13891                     8033
25       0    0       3             27004                    16378
26       0    2      50             40872                    25396
27       0    0       0              9773                     3684
28       0    0       7             21713                    15541
29       0    0       3              9800                     2867
..     ...  ...     ...               ...                      ...
694      1    0       5             46915                    30414
695      0    0       0              5024                     3316
696      0    0       0              4135                     3216
697      0    0      14            684889                   479422
698      0    0       2              6614                        0
699      0    0       8             16503                    11962
700      0    0      64            103413                    69615
701      0    0       4             59777                    41843
702      1    0       1             45499                    33506
703      0    0       0              7293                     5355
704      0    2      91            110288                    73509
705      0    0       0              9791                     6620
706      0    0       9             31221                    11313
707      0    0       5             49025                    32456
708      0    0       0                 0                        0
709      0    0       2              4473                      821
710      4    6       7            200763                   140534
711      0    7      14            231325                   167713
712      1    1      21             67326                    47128
713      0    0       0              5452                     2969
714      0    0       2              2480                        0
715      0    0       1              3474                      589
716      4  120    1346           3765800                  1628940
717      5    1     266            222888                   155688
718      0    0       5             27687                        0
719      0    0      18            164091                   104291
720      2    0      13            340417                   213209
721      0    0       5              8226                     5439
722      0    0       9            141880                   104197
723      0    1      15            173565                   119581

     post_consumptions  total_video_views   total
0                13890              22145   38517
1                 8478              16957   25781
2                15377              29864   47615
3                 2846              26392   29632
4                    0                  0    5678
5                  966                  0    2017
6                27677              66533   95026
7                  357               3843    4353
8                  274                  0     278
9                 4721                  0    6060
10                  91                  0      99
11                  17                  0      20
12                5591              15187   21316
13               28468              49392   81458
14                  56                  0      74
15                 279                  0     293
16                   1                  0       2
17                6412                  0    6872
18                  23                  0      29
19                 384                  0     408
20                 350                  0     368
21                 770               1282    2132
22                 380                  0     403
23                2367                  0    2676
24                 411                  0     447
25                1079                  0    1191
26                4234               9585    5528
27                 178                  0     338
28                1244                  0    1563
29                  34                  0      41
..                 ...                ...     ...
694               1919              11737   14641
695                640                  0     773
696                530                  0     664
697                  0                  0     490
698                595                  0     166
699                179                  0     201
700               6830              19126   26863
701                  0                  0     122
702                970                  0    1173
703                 12                  0      12
704               6535              19688   26785
705                 92                  0     216
706               1455               1043    2214
707               4532                  0    4833
708                  0                  0       0
709                106                121     155
710              18069                  0    5333
711              12705                  0   15663
712               2042                  0    2191
713                545                  0       0
714                223                  0      94
715                 76                108     114
716             372064             555815  973590
717              12694                  0   15324
718               2492                  0      88
719              10082              32387   43674
720              18192                  0   21762
721                355                  0    1344
722                818                  0    1084
723               5745              41515   48103

[724 rows x 17 columns]

In [36]:
data = pd.read_csv('data_fanpage.csv', index_col=0)
print(data)

     social_network_account_id  social_network_account_followers code_iso  \
id
16                       38614                           1965664       PE
19                       28990                            176909       PE
20                       29189                           2032491       PE
1                        35837                           1468492       MX
5                        30603                            451471       GT
37                       28613                            111700       CO
7                        35875                           1466535       CO
36                       30275                            229998       MX
24                       25783                             25658       CO
15                       29387                            900687       PE
21                       29406                              2177       CO
22                       26843                             16749       CO
8                        28631                            215056       CO
18                       31083                           1466515       PE
27                       34125                             12071       CO
25                       23558                             24017       CO
30                       30664                                87       CO
31                       38790                             31023       CO
33                       36332                            191970       MX
26                       23270                             11622       CO
9                        23526                             17550       CO
14                       29546                             14665       PE
23                       29333                             58385       CO
38                       29492                            135018       PE
39                       36330                             14728       PE
40                       28248                             30675       PE
41                       28464                            107963       PE
42                       28208                             18245       PE
43                       29221                             59057       PE
44                       34460                              9571       PE
..                         ...                               ...      ...
729                      47126                            226747       PE
717                      35860                              8151       CO
716                      35860                              8151       CO
724                      40354                           3968290       MX
746                      30885                             32169       CO
733                      31053                            464740       MX
745                      47126                            226747       PE
751                      25757                            314620       CO
725                      33252                           2091353       MX
739                      22650                              7119       CO
727                      30769                            486520       PE
741                      27664                             19245       CO
737                      48516                           2338858       MX
742                      24701                            195478       CO
749                      43513                               800       CO
738                      52729                           2091602       MX
744                      31990                            914714       MX
740                      35875                           1466535       CO
734                      36332                            191970       MX
750                      24613                            352596       MX
747                      30885                             32169       CO
736                      35837                           1468492       MX
735                      29257                            595742       PE
708                      35875                           1466535       CO
668                      30885                             32169       CO
730                      31049                            379699       PE
748                      31044                            717960       PE
731                      38751                             54214       US
743                      30275                            229998       MX
732                      38614                           1965664       PE

     comments   like   love  haha  wow  angry  sad  shares  post_impressions  \
id
16        112   2091    214     3   15      1    2      44            142030
19         27    235     49    30    4      0    0       1             15339
20         45   2105    169    23    8      4    1      19            244228
1           7    240     25     1    0      0    0     136            110803
5         122   5215    216    11   42      1    0      71                 0
37         18    956     69     2    0      0    0       6             36827
7          38    545     68   109    4      1    0      51            298404
36          6    128     15     1    0      0    0       3             30341
24          0      2      0     0    0      0    0       2             69562
15         45   1158     62    53    5      1    0      15             83940
21          1      5      1     0    0      0    0       1              3663
22          0      3      0     0    0      0    0       0              1363
8           8    444     52    24    1      0    0       9            113035
18         72   3131    308    12   25      2    1      47            344038
27          1     14      0     0    0      0    0       3              9095
25          0      9      2     0    0      0    0       3             62808
30          0      1      0     0    0      0    0       0                20
31         33    217     31     3    9      0    0     167             79137
33          0      6      0     0    0      0    0       0              1606
26          0     20      0     0    0      0    0       4             52472
9           4      9      4     0    0      0    0       1             36499
14          2     66      9     0    0      0    1       2             11902
23          0     15      1     0    0      0    0       7             78902
38         25    224     14     3   10      0    0      33             45603
39          1     29      0     0    0      0    0       6             13891
40          3    102      4     0    0      0    0       3             27004
41         69    845    279    47    2      0    2      50             40872
42          6    126     28     0    0      0    0       0              9773
43          9    257     33    12    1      0    0       7             21713
44          0      4      0     0    0      0    0       3              9800
..        ...    ...    ...   ...  ...    ...  ...     ...               ...
729        17    713    246     2    1      1    0       5             46915
717         0    126      7     0    0      0    0       0              5024
716         0    124     10     0    0      0    0       0              4135
724        17    394     56     6    3      0    0      14            684889
746         1    125     37     0    1      0    0       2              6614
733         2     14      4     2    0      0    0       8             16503
745        18    647    164     2   12      0    0      64            103413
751         8     93      5    12    0      0    0       4             59777
725        10    164      6    21    0      1    0       1             45499
739         0      0      0     0    0      0    0       0              7293
727        29    381     48     2    9      0    2      91            110288
741         8     99     17     0    0      0    0       0              9791
737         8    670     74    10    5      0    0       9             31221
742         5    237     16    38    0      0    0       5             49025
749         0      0      0     0    0      0    0       0                 0
738         3     40      9     0    0      0    0       2              4473
744       170   3800   1239    33   74      4    6       7            200763
740        34   1449    107  1339    8      0    7      14            231325
734         2    110     13     1    0      1    1      21             67326
750         8     17      8     0    0      0    0       0              5452
747         7     64     21     0    0      0    0       2              2480
736         3     32      6     0    0      0    0       1              3474
735      1880  18773  23307   162  119      4  120    1346           3765800
708        98   1467    563   229    1      5    1     266            222888
668         5     62     16     0    0      0    0       5             27687
730        37    870    209    70    1      0    0      18            164091
748       286   2879    352    31    7      2    0      13            340417
731         9    959     16     0    0      0    0       5              8226
743        12    195     45     1    4      0    0       9            141880
732        40    714     70     1    2      0    1      15            173565

     post_impressions_unique  post_consumptions  total_video_views   total
id
16                    102116              13890              22145   38517
19                     11671               8478              16957   25781
20                    162386              15377              29864   47615
1                      64660               2846              26392   29632
5                          0                  0                  0    5678
37                     24675                966                  0    2017
7                     195727              27677              66533   95026
36                     24667                357               3843    4353
24                     50511                274                  0     278
15                     63734               4721                  0    6060
21                      2847                 91                  0      99
22                       884                 17                  0      20
8                      87718               5591              15187   21316
18                    213129              28468              49392   81458
27                      2373                 56                  0      74
25                     40247                279                  0     293
30                        13                  1                  0       2
31                     44262               6412                  0    6872
33                      1043                 23                  0      29
26                     37451                384                  0     408
9                       9256                350                  0     368
14                      5109                770               1282    2132
23                     58011                380                  0     403
38                     28274               2367                  0    2676
39                      8033                411                  0     447
40                     16378               1079                  0    1191
41                     25396               4234               9585    5528
42                      3684                178                  0     338
43                     15541               1244                  0    1563
44                      2867                 34                  0      41
..                       ...                ...                ...     ...
729                    30414               1919              11737   14641
717                     3316                640                  0     773
716                     3216                530                  0     664
724                   479422                  0                  0     490
746                        0                595                  0     166
733                    11962                179                  0     201
745                    69615               6830              19126   26863
751                    41843                  0                  0     122
725                    33506                970                  0    1173
739                     5355                 12                  0      12
727                    73509               6535              19688   26785
741                     6620                 92                  0     216
737                    11313               1455               1043    2214
742                    32456               4532                  0    4833
749                        0                  0                  0       0
738                      821                106                121     155
744                   140534              18069                  0    5333
740                   167713              12705                  0   15663
734                    47128               2042                  0    2191
750                     2969                545                  0       0
747                        0                223                  0      94
736                      589                 76                108     114
735                  1628940             372064             555815  973590
708                   155688              12694                  0   15324
668                        0               2492                  0      88
730                   104291              10082              32387   43674
748                   213209              18192                  0   21762
731                     5439                355                  0    1344
743                   104197                818                  0    1084
732                   119581               5745              41515   48103

[724 rows x 16 columns]

In [52]:
data["code_iso"]

id
16     PE
19     PE
20     PE
1      MX
5      GT
37     CO
7      CO
36     MX
24     CO
15     PE
21     CO
22     CO
8      CO
18     PE
27     CO
25     CO
30     CO
31     CO
33     MX
26     CO
9      CO
14     PE
23     CO
38     PE
39     PE
40     PE
41     PE
42     PE
43     PE
44     PE
       ..
729    PE
717    CO
716    CO
724    MX
746    CO
733    MX
745    PE
751    CO
725    MX
739    CO
727    PE
741    CO
737    MX
742    CO
749    CO
738    MX
744    MX
740    CO
734    MX
750    MX
747    CO
736    MX
735    PE
708    CO
668    CO
730    PE
748    PE
731    US
743    MX
732    PE
Name: code_iso, dtype: object

In [37]:
data[["code_iso","total"]]

    code_iso   total
id
16        PE   38517
19        PE   25781
20        PE   47615
1         MX   29632
5         GT    5678
37        CO    2017
7         CO   95026
36        MX    4353
24        CO     278
15        PE    6060
21        CO      99
22        CO      20
8         CO   21316
18        PE   81458
27        CO      74
25        CO     293
30        CO       2
31        CO    6872
33        MX      29
26        CO     408
9         CO     368
14        PE    2132
23        CO     403
38        PE    2676
39        PE     447
40        PE    1191
41        PE    5528
42        PE     338
43        PE    1563
44        PE      41
..       ...     ...
729       PE   14641
717       CO     773
716       CO     664
724       MX     490
746       CO     166
733       MX     201
745       PE   26863
751       CO     122
725       MX    1173
739       CO      12
727       PE   26785
741       CO     216
737       MX    2214
742       CO    4833
749       CO       0
738       MX     155
744       MX    5333
740       CO   15663
734       MX    2191
750       MX       0
747       CO      94
736       MX     114
735       PE  973590
708       CO   15324
668       CO      88
730       PE   43674
748       PE   21762
731       US    1344
743       MX    1084
732       PE   48103

[724 rows x 2 columns]

In [38]:
data.shape

(724, 16)

In [44]:
data.loc[[1,16,19,20],["code_iso","total"]]

   code_iso  total
id
1        MX  29632
16       PE  38517
19       PE  25781
20       PE  47615

In [45]:
data.loc[1]

social_network_account_id             35837
social_network_account_followers    1468492
code_iso                                 MX
comments                                  7
like                                    240
love                                     25
haha                                      1
wow                                       0
angry                                     0
sad                                       0
shares                                  136
post_impressions                     110803
post_impressions_unique               64660
post_consumptions                      2846
total_video_views                     26392
total                                 29632
Name: 1, dtype: object

In [47]:
data.loc[[1,19]]

,social_network_account_id,social_network_account_followers,code_iso,comments,like,love,haha,wow,angry,sad,shares,post_impressions,post_impressions_unique,post_consumptions,total_video_views,total
id,,,,,,,,,,,,,,,,
1,35837,1468492,MX,7,240,25,1,0,0,0,136,110803,64660,2846,26392,29632
19,28990,176909,PE,27,235,49,30,4,0,0,1,15339,11671,8478,16957,25781

In [50]:
data.loc[-1]

KeyError: 'the label [-1] is not in the [index]'

In [51]:
data.iloc[-1]

social_network_account_id             38614
social_network_account_followers    1965664
code_iso                                 PE
comments                                 40
like                                    714
love                                     70
haha                                      1
wow                                       2
angry                                     0
sad                                       1
shares                                   15
post_impressions                     173565
post_impressions_unique              119581
post_consumptions                      5745
total_video_views                     41515
total                                 48103
Name: 732, dtype: object

In [53]:
data[0:5]

,social_network_account_id,social_network_account_followers,code_iso,comments,like,love,haha,wow,angry,sad,shares,post_impressions,post_impressions_unique,post_consumptions,total_video_views,total
id,,,,,,,,,,,,,,,,
16,38614,1965664,PE,112,2091,214,3,15,1,2,44,142030,102116,13890,22145,38517
19,28990,176909,PE,27,235,49,30,4,0,0,1,15339,11671,8478,16957,25781
20,29189,2032491,PE,45,2105,169,23,8,4,1,19,244228,162386,15377,29864,47615
1,35837,1468492,MX,7,240,25,1,0,0,0,136,110803,64660,2846,26392,29632
5,30603,451471,GT,122,5215,216,11,42,1,0,71,0,0,0,0,5678

In [56]:
data.iloc[1,2]

'PE'

In [57]:
data.loc[:,["code_iso","comments","love"]]

    code_iso  comments   love
id
16        PE       112    214
19        PE        27     49
20        PE        45    169
1         MX         7     25
5         GT       122    216
37        CO        18     69
7         CO        38     68
36        MX         6     15
24        CO         0      0
15        PE        45     62
21        CO         1      1
22        CO         0      0
8         CO         8     52
18        PE        72    308
27        CO         1      0
25        CO         0      2
30        CO         0      0
31        CO        33     31
33        MX         0      0
26        CO         0      0
9         CO         4      4
14        PE         2      9
23        CO         0      1
38        PE        25     14
39        PE         1      0
40        PE         3      4
41        PE        69    279
42        PE         6     28
43        PE         9     33
44        PE         0      0
..       ...       ...    ...
729       PE        17    246
717       CO         0      7
716       CO         0     10
724       MX        17     56
746       CO         1     37
733       MX         2      4
745       PE        18    164
751       CO         8      5
725       MX        10      6
739       CO         0      0
727       PE        29     48
741       CO         8     17
737       MX         8     74
742       CO         5     16
749       CO         0      0
738       MX         3      9
744       MX       170   1239
740       CO        34    107
734       MX         2     13
750       MX         8      8
747       CO         7     21
736       MX         3      6
735       PE      1880  23307
708       CO        98    563
668       CO         5     16
730       PE        37    209
748       PE       286    352
731       US         9     16
743       MX        12     45
732       PE        40     70

[724 rows x 3 columns]

In [59]:
import numpy as np
array = np.array([1,3,4,2,9,6])

In [61]:
print(array >4)

[False False False False  True  True]